{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>Books in the store</h2>
<p>Welcome, {{ username }}!</p>
<form action="{{ url_for('addToCart') }}" method="post" autocomplete="off">
<table>
    <thead>
      <tr>
          <th>ISBN</th>
          <th>Name</th>
          <th>Author ID</th>
          <th>Publisher</th>
          <th>Price</th>
          <th>Subject</th>
          <th>Number of Pages</th>
          <th>Quantity you want</th>
          
      </tr>
      </thead>    
      <tbody>
       {% for item in data %}    
              <tr>
                  <td style="text-align:center">{{item[0]}}</td>
                  <td style="text-align:center">{{item[1]}}</td>
                  <td style="text-align:center">{{item[2]}}</td> 
                  <td style="text-align:center">{{item[3]}}</td> 
                  <td style="text-align:center">{{item[4]}}</td> 
                  <td style="text-align:center">{{item[5]}}</td> 
                  <td style="text-align:center">{{item[6]}}</td> 
                  <td><input type="number" name="{{ item[0] }}" placeholder="Quantity" id="quantity"> </td>
                  <input type="hidden" value="{{ item[0] }}"/>
                </tr>
          {% endfor %}
      </tbody>
  </table>
  <input type="submit" value="Add to Cart">
  </form>
  <div class="msg">{{ msg }}</div>
{% endblock %}