{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<p>Welcome, {{ username }}!</p>
<h2>Your order detail</h2>
<!-- <p>ISBN: {{data[0][1]}}</p> -->
<form action="{{ url_for('displayTopReview') }}" method="get">
    <label> Top (n) comments?</label>
    <input type='number' name="count" placeholder="n">
    <input type="submit" value="Find Top Comments">
     <input type="hidden" id ="ISBN" name="ISBN" value="{{ data[0][1] }}"/>
    </form>
   
   
<table>
    
    <thead>
      <tr>
          <th>Username</th>
          <th>Date</th>
          <th>Score</th>
          <th>Comment</th>
          <th>Usefullness</th>
          <th></th>
      </tr>
      </thead>    
      <tbody>
       {% for item in data %}    
      
       <form action="{{ url_for('markUsefull') }}" method="post" autocomplete="off">
              <tr>
                  <td style="text-align:center">{{item[0]}}</td>
                  <td style="text-align:center">{{item[2]}}</td>
                  <td style="text-align:center">{{item[3]}}</td> 
                  <td style="text-align:center">{{item[4]}}</td> 
                  <td style="text-align:center">{{item[5]}}</td> 
                  <input type="hidden" id="username" name="username"value="{{ item[0] }}"/>
                  <input type="hidden" id ="ISBN" name="ISBN "value="{{ item[1] }}"/>

                 <td> <input type="radio" id="veryUseful" name="type" value="veryUseful">
                  <label for="type">Very Useful</label><br></td>
                 <td> <input type="radio" id="useful" name="type" value="useful">
                  <label for="type">Useful</label><br></td>
                 <td> <input type="radio" id="notUseful" name="type" value="notUseful">
                  <label for="type">Not Usefull</label><br></td>
                  <td><input type="submit" name ="Usefullness" value="Mark Review"></td>
              </tr>
            </form>
          {% endfor %}
      </tbody>
  </table>

{% endblock %}