{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<p><a href="{{ url_for('createOrder') }}">Create a New Order</a></p>
<p><a href="{{ url_for('cancelOrder') }}">Cancel an Order</a></p>
<p><a href="{{ url_for('buyingSuggestion') }}">Suggested Books</a></p>
<p><a href="{{ url_for('displayAuthor') }}">Author Informations</a></p>
<p><a href="{{ url_for('addReview') }}">Add a Review</a></p>
<p><a href="{{ url_for('viewOrder')}}">Check Past Orders</a></p>
<div>
<p>Trust/Un-Trust an User</p>
<form action="{{ url_for('addTrust') }}" method="post">
    <label for="username">Username</label><br>   
    <input type="text" id="username" name="username">
    <input type="radio" id="trust" name="type" value="trust">
    <label for="type">Trust</label>
    <input type="radio" id="untrust" name="type" value="untrust">
    <label for="type">Untrust</label><br><br>
    <input type="submit" value="Mark User">
</form>
</div>

<!-- <p><a href="{{ url_for('displayAllBooks') }}"></a>List all Books: Sorted By (i) Publish Date (ii) average numerical score of comments (iii) average numerical store of trusted user feedbacks</p></a> -->
<!-- <p>List all Books: Sorted By </p>
    <form action="{{ url_for('displayAllBooks') }}" method="get">
        
        <input type="radio" id="date" name="criteria" value="date">
        <label for="type">Publish Date</label><br>
        <input type="radio" id="score" name="criteria" value="AVG(score)">
        <label for="type">Average Numerical Score of Comments</label><br>
        <input type="radio" id="trust" name="criteria" value="trustCount">
        <label for="type">Average Numerical Score of Trusted User Feedbacks</label><br>
        <input type="submit" value="Search">
    </form> -->
<div>
<p>Search by</p>
    <form action="{{ url_for('displayBookQuery') }}" method="get">
        
        <!-- <input type="checkbox" id="author" name="type" value="author"> -->
        <label for="type">Author</label><br>
        <input type="text" name="author" placeholder="Author" id="Value" ><br>

        <!-- <input type="checkbox" id="publisher" name="type" value="publisher"> -->
        <label for="type">Publisher</label><br>
        <input type="text" name="publisher" placeholder="Publisher" id="Value"><br>

        <!-- <input type="checkbox" id="name" name="type" value="name"> -->
        <label for="type">Name</label><br>
        <input type="text" name="name" placeholder="Name" id="Value" ><br>

        <!-- <input type="checkbox" id="language" name="type" value="language"> -->
        <label for="type">Language</label><br>
        <input type="text" name="language" placeholder="Language" id="Value" ><br>
        <label for="type">Sorted By: </label>
        <input type="radio" id="date" name="criteria" value="date">
        <label for="type">Publish Date</label>
        <input type="radio" id="score" name="criteria" value="AVG(score)">
        <label for="type">Average Numerical Score of Comments</label>
        <input type="radio" id="trust" name="criteria" value="trustCount">
        <label for="type">Average Numerical Score of Trusted User Feedbacks</label><br><br>

        <input type="submit" value="Search">
    </form>
    </div>
    <p><a href="{{ url_for('requestNewBook')}}">Request New Books</a></p>
    <p><a href="{{ url_for('requestNewCredit')}}">Add Money to Account</a></p>
    <!-- <div>
        <p>Add Money to Account</p>
        <form action="{{ url_for('requestNewCredit') }}" method="post">
            <label for="amount">Amount</label><br>
            <input type="number" name="amount" placeholder="Amount" id="amount"required><br>
            <button type="submit">Request Credits</button>
        </form>
    </div> -->
    <div class="msg">{{ msg }}</div>
    {% endblock %}