{% extends 'layout.html' %}

{% block title %}Manager Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome Manager, {{ username }}!</p>
<p><a href="{{ url_for('newManager') }}">Add another Manager</p>
<p><a href="{{ url_for('newBook') }}">Add New Book</p>
<p><a href="{{ url_for('updateStock')}}">Update Stock</a></p>    
<p><a href="{{ url_for('bookStatistics')}}">Book Statistics</a></p>    
<p><a href="{{ url_for('userAward')}}">User Awards</a></p>    
<p><a href="{{ url_for('requestedBooks')}}">Requested Books</a></p>    
<p><a href="{{ url_for('requestedCredit')}}">Requested Credit</a></p>
<p><a href="{{ url_for('displayCustomer')}}">Display All Customer</a></p>

<div class="msg">{{ msg }}</div>
{% endblock %}