{% extends 'layout.html' %}

{% block title %}Manager Home{% endblock %}

{% block content %}

<script>
	var countAuthor = 1;
	var countKeyword = 1;
	
function addAuthor(){
	var authorName = "authorName"+countAuthor
	var authorID = "authorID"+countAuthor

	// document.getElementById('authorCount').value=countAuthor;
	countAuthor += 1;
	// console.log(countAuthor)
	var inputAuthorName = document.createElement("input")
	var inputAuthorID = document.createElement("input")
	inputAuthorID.setAttribute("type", "text")
	inputAuthorID.setAttribute("placeholder", "Author ID")
	inputAuthorID.setAttribute("name", authorID)
	inputAuthorID.setAttribute("id", authorID)
	inputAuthorName.setAttribute("type", "text")
	inputAuthorName.setAttribute("placeholder", "Author Name")
	inputAuthorName.setAttribute("name", authorName)
	inputAuthorName.setAttribute("id", authorName)
	var div = document.getElementById("extraAuthor")
	
	div.appendChild(inputAuthorID)
	div.appendChild(inputAuthorName)
	document.getElementById("authorCount").value = countAuthor
}
function addKeyword(){
	var keywordName = "keyword"+countKeyword
	// var keywordID = "keywordID"+countKeyword
	// document.getElementById('keywordCount').value() = countKeyword;
	// document.getElementById("keywordCount").value = countKeyword
	countKeyword += 1;
	// console.log(countKeyword)
	// var inputKeywordID = document.createElement("input")
	
	var inputKeywordName = document.createElement("input")
	// inputKeywordID.setAttribute("type", "text")
	// inputKeywordID.setAttribute("placeholder", "Keyword ID")
	// inputKeywordID.setAttribute("name", keywordID)
	// inputKeywordID.setAttribute("id", keywordID)
	inputKeywordName.setAttribute("type", "text")
	inputKeywordName.setAttribute("placeholder", "Keyword Name")
	inputKeywordName.setAttribute("name", keywordName)
	inputKeywordName.setAttribute("id", keywordName)
	var div = document.getElementById("extraKeyword")
	// div.appendChild(inputKeywordID)
	div.appendChild(inputKeywordName)
	document.getElementById("keywordCount").value = countKeyword

}
function setKeywordValue() {
	var input = document.createElement('input')
	input.setAttribute('type', 'hidden');
    input.setAttribute('value', countKeyword);
	var div = document.getElementById("input")
	div.appendChild(input)
	console.log(countKeyword)
}
function setAuthorValue() {
    var input = document.createElement('input')
	input.setAttribute('type', 'hidden');
    input.setAttribute('value', countAuthor);
	var div = document.getElementById("input")
	div.appendChild(input)
	console.log(countAuthor)
}
function updateValues(){
	var input1 = document.createElement('input')
	input1.setAttribute('type', 'hidden');
	input1.setAttribute('name', 'countKeyword');
	input1.setAttribute('id', 'countKeyword');
    input1.setAttribute('value', countKeyword);
	var input12 = document.createElement('input')
	input2.setAttribute('type', 'hidden');
	input2.setAttribute('name', 'countAuthor');
	input2.setAttribute('id', 'countAuthor');
    input2.setAttribute('value', countAuthor);
	var div = document.getElementById("input")
	div.appendChild(input1)
	div.appendChild(input2)
}



</script>

<p>Welcome Manager, {{ username }}!</p>
<h2>New Book Details</h2>
<form action="{{ url_for('newBook') }}" method="post" autocomplete="off">

				<input type="hidden" name = "authorCount" id = "authorCount" value="1">
				<input type="hidden" name = "keywordCount" id = "keywordCount" value="1">
                <label for="ISBN">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="ISBN" placeholder="ISBN(9 Digit Number)" id="ISBN" minlength="9" maxlength="9" required>

                <label for="name">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="name" placeholder="name" id="name" required>

				<label for="authorID">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="authorID" placeholder="authorID" id="authorID" required>
				<label for="authorName">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="authorName" placeholder="author name" id="authorName" required>


				<input type="button" value="Add More Author" onclick="addAuthor()"/>
				<div id="extraAuthor"></div>
				

				<label for="stock">
					<i class="fas fa-user"></i>
				</label>
                <input type="number" name="stock" placeholder="stock" id="stock" required>

				<label for="price">
					<i class="fas fa-user"></i>
				</label>
                <input type="number" name="price" placeholder="price" id="price" required>

                <label for="subject">
					<i class="fas fa-user"></i>
				</label>
				<input type="subject" name="subject" placeholder="subject" id="subject" required>
				<label for="language">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="language" placeholder="language" id="language" required>
				<label for="noOfPages">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="noOfPages" placeholder="Number of Pages" id="noOfPages" required>
				<label for="publisher">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="publisher" placeholder="publisher" id="publisher" required>
				<label for="date">
					<i class="fas fa-lock"></i>
				</label>
				<input type="date" name="date" placeholder="date" id="date" required>
				<label for="keyword">
					<i class="fas fa-lock"></i>
				</label>

				<input type="keyword" name="keyword" placeholder="keyword" id="keyword" required>
				<input type="button" value="Add More keyword" onclick="addKeyword()"/>
				<div id="extraKeyword"></div>
				<input type="submit" value="Add new Book">
				
			</form>
			<div class="msg">{{ msg }}</div>
{% endblock %}