{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>Requested Books</h2>
<p>Welcome Manager, {{ username }}!</p>

<table>
    

    <thead>
      <tr>
          <th>Requested By</th>
          <th>ISBN</th>
          <th>Name</th>
          <th>Publisher</th>
      </tr>
      </thead>    
      <tbody>
       {% for item in data %}  
      
              <tr>
                  <td style="text-align:center">{{item[0]}}</td>
                  <td style="text-align:center">{{item[1]}}</td>

                  <td style="text-align:center">{{item[2]}}</td> 
                  <td style="text-align:center">{{item[3]}}</td> 

              </tr>

          {% endfor %}
      </tbody>
  </table>

{% endblock %}